.Button {
    width: 24rem;
    height: 4rem;
    border-radius: 15px;
    margin: 0.5rem;
    background-color: #63336b;
    border-color: #816aa2;
    padding-bottom: 8px;
}

.Button:hover {
    background-color: #d4af37;
    border-color: #996515;
}

.Sml {
    width: 10rem;
    height: 2rem;  
    line-height: 1; 
}

.BigText {
    font-size: 1.5rem
}

.BackButton {
    width: 12vw;
    position: fixed;
    top: 9rem;
    left: 2.5rem;
    margin: 2px;
  }

.BackButtonBottom {
  display: none;
}
  
  @media screen and (max-width: 1700px) {
    .BackButton {
      display: none;
    }

    .BackButtonBottom {
      display: block;
      width: 16vw;
      margin-top: 2rem;
      bottom: 35vw;
    }
  }

