/* Container for FriendCreateForm */

.Container {
    margin-top: 2rem;
    padding-top: 6rem;
    background-color: #ffffff;
    background-size: cover;
    min-height: 20rem;
    border: 1px solid #dadada;
}

@media screen and (max-width: 600px) {
    .Container {
        min-height: 30vw;
    }

}