/* Container for FriendCreateForm */

.Container {
    margin-top: 2rem;
    padding-top: 6rem;
    background-color: #ffffff;
    background-size: cover;
    min-height: 50vw;
    border: 1px solid #dadada;
}