/* HomePage.module.css */

.HomeContainer {
    margin-top: 1rem;
    height: 32rem;
    border-color: black;
    width: 100%;
    padding: 0;
}

.TitleContainer {
    margin-top: 1rem;
    height: 20rem;
    background-color: #fff;
    padding-top: 4rem;
    padding-bottom: 2rem;
}
  
.LinkDiv {
    background-color: transparent;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflow to prevent image overflow */
    margin-bottom: 1rem;
}
  
.ImageWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
  
.Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease; /* Apply transition to transform property */
    filter: brightness(0.5);
}

.SteadyImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    cursor: not-allowed;
}
  
.Header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #CBA6FF;
    text-align: center;
    z-index: 1;
    transition: font-size 0.5s ease;
  }

.SteadyHeader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #dadadf;
    text-align: center;
    z-index: 1;
    cursor: not-allowed;
}

.LinkDiv:hover {
    cursor: pointer;
}

.LinkDiv:hover .Image {
    transform: scale(0.95); /* Adjust the scale factor as needed */
}

.LinkDiv:hover .Header {
    font-size: 1.55rem;
}

.BigTitle {
    font-size: 5rem;
}

.Title {
    font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
    .BigTitle {
        font-size: 10vw;
    }
    
    .Title {
        font-size: 5vw;
    }
    .TitleContainer {
        height: 30vw;
        padding-top: 1rem;
    }
  }
