/* Container for rendering Profile details */

.ProfileContainer {
    margin-top: 8rem;
}

/* Displays large variant of the Avatar Component for nicer display */

.ProfileAvatar {
    border: 2px solid transparent;
    width: 200px;
    margin: 1rem 0;
}

/* Displays the user's avatar on the ProfileEditForm, with transitions and pointers for clarification */

.ProfilePageAvatar {
    width: 200px;
    cursor: "pointer";
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
    margin: 1rem 0;
}

.ProfilePageAvatar:hover {
    border-color: lightblue;
}

/* Styling for decorative image on Profile Edit Page */

.Image {
    width: 75%;
}
