/* Container Styling for Sign In and Sign Up pages */

.FormContainer {
    margin-top: 2rem;
    background-color: #ffffff;
    background-size: cover;
    height: 80vh;
    border: 1px solid #dadada;
}

.Row {
    width: 80%;
}
