/* Font Family and Non Component Background */

.App {
    font-family: 'Afacad', sans-serif;
    background-color: #f8f8f8;
    min-height: 100vh;

}

/* Create and Edit Forms Container Content */
  
.Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
}
        
/* All elements have border box box-sizing */

*   {
        box-sizing: border-box;
}

/* Anchors and Icons */
    
a   {
    color: #000000;
    transition: color ease-in-out 0.3s;
}
  
a:hover {
    text-decoration: none;
    color: #A254B0;
}
  
a:hover i {
    color: #A254B0;
    transition: color ease-in-out 0.3s;
}
  
i {
    color: #cfced3;
    font-size: 1.2rem;
    padding: 7px;
    vertical-align: text-top;
}
  
i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #63336B;
}

/* Text Headers */

.Header {
    color: #63336B;
    margin-bottom: 1rem;
}

/* Scrollers */

*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
    background: #888;
}
*::-webkit-scrollbar-thumb:hover {
    background: #555;
}
